.form-group {
  padding-bottom: 10px;
}

.pizza {
  cursor: pointer;
  color: #dd220d;
}

.pizza:hover {
  text-decoration: underline;
}

#pizzaDetails {
  display: none;
}
.img-responsive {
    display: block;
    height: auto;
    max-width: 100%;
}
