.form-group {
  padding-bottom: 10px;
}

.pizza {
  cursor: pointer;
  color: black;
}

.pizza:hover {
  text-decoration: underline;
}

#pizzaDetails {
  display: none;
  color: black;
}
.img-responsive {
    display: block;
    height: auto;
    max-width: 100%;
}

.jumbotron {
  background-image: url("../img/jtbg.png");
}
body {
  background: linear-gradient(to top, white, #79191d);
}
